<h1>welcome to yelpdemo</h1>
<h2>we use this link to navigate into google <a href="https://www.google.com">google</a>
  here u can seatch best hotels around you </h2>

<p>this is my third project</p>
